<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/practice.css">
</head>
<body>
    <H1> AYAAM  SCORECARD</H1>


    <div id="login">
    <form action="/register " method="POST">

        <h3>LOGIN KARO BSDK</h3>
           

            <input id="uname" name="uname" type="text" placeholder="enter name">
            <br>
            <input id="login id" name="uid"  type="number"   placeholder="enter ayaam uid">
            <BR>
            <input id="dob" type="date" name="udate" placeholder="enter date of birth">
            <br>
            


            <input id="submit"   type="submit">



                </form>
            </div>
    <div id="design">

    </div>
    
    
</body>
</html>